.logoImg{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}
/*.confAdd{
    background-color: green;
}*/
.navMenuItens{
    margin-left: 40%;
}
.navMenuItens li{
    margin-left: 10px;
}
.navMenuItens li a{
    font-weight: bolder;
    color: blueviolet;
}
.navFormBuscar{
    margin-right: 50px;
}
section{
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
}
section img{
    width: 100%;
    height: 70vh;
}
.containerCabecalho{
    z-index: 2;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
}
.tituloCabecalho{
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:center;
}
.tituloCabecalho h1{
    font-size: 30pt;
    color: #fff;
}
.tituloCabecalho h2{
    font-size: 15pt;
    color: #DEC815;
}
.buttonSaibaMais{
    background-color: #000000;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 15px;
}
.buttonSaibaMais:hover{
    transition: 0.5s;
    background-color: #00184B;
}
.formCabecalho{
    background-color: #F8F9FA;
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
form h3{
    font-size: 26px;
}
form h4{
    font-size: 16px;
}
.buttonSubmit{
    background-color: #00184B;
    width: 100%;
}
.fundoGradiente{
    z-index: 1;
    position: absolute;
    padding: 80px 56px 80px 56px;
    width: 100%;
    height: 70vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.categorias{
    width: 100%;
    height: 90vh;
    margin-bottom: 25px;
}
.categoriasCatTitulos{
    width: 100%;
    padding: 30px;
    background-color: #00184B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #fff;
}
.catTitulo{
    font-weight: bolder;
    font-size: 40px;
}
.buttonSolOrça{
    background-color: #00184B;
    padding: 0.8%;
    transition: 0.8s;
}
.categoriasDivs{
    width: 100%;
    height: 60vh;
    background-color: #00184B;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5%;
}
.catServicoOne, .catServicoTwo, .catServicoTree{
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catServicoOne img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}
.catServicoTwo img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}
.catServicoTree img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}
.cliente{
    padding-top: 4%;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clientesTitulos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.catClientes{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flex-container{
    flex-wrap: wrap;
}
.imgClient{
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 100%;
    box-shadow: 5px 5px 5px 5px #cecece;
}
.imgClient img{
    width: 150px;
    height: 150px;
    background-color: #fff; 
    border-radius: 100%;
}
.callMe{
    background-color: #00184B;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px;
    color: #fff;
}
.logoCallMe{
    width: 250px;
    height: 250px;
    background-color: #fff;
    padding: 15px;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 5px #cecece;
}
.logoImgCallMe{
    width: 180px;
    height: 200px;
}
.formCallMe{
    width: 350px;
}
.formCallMe input{
    background-color: #00184B;
    color: #fff;
}
footer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*CONFIGURAÇÕES DA PÁGINA SOBRE*/
.sobreDivs{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5%;
}
.sobreNos{
    width: 70%;
    background-color: #fff;
    text-align: justify;
}
.sobreNos h5{
    font-size: 40px;
    border-bottom: 2px solid #cecece;
    margin-bottom: 30px;
}
.politicaDivs{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    padding: 5%;
}
.politicaOne{
    width: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #cecece;
    padding: 10px;
    gap: 15px;
}
.politicaOne img{
    width: 50px;
    height: 50px;
}
.politicaOne h5{
    font-size: 40px;
    text-align: center;
}
.politicaOne p{
    text-align: justify;
}
.politicaTwo{
    width: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #cecece;
    padding: 10px;
    gap: 15px;
}
.politicaTwo img{
    width: 50px;
    height: 50px;
}
.politicaTwo h5{
    font-size: 40px;
    text-align: center;
}
.politicaTwo p{
    text-align: justify;
}
.politicaTree{
    width: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #cecece;
    padding: 10px;
    gap: 15px;
}
.politicaTree img{
    width: 50px;
    height: 50px;
}
.politicaTree h5{
    font-size: 40px;
    text-align: center;
}
.politicaTree p{
    text-align: justify;
}